<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Full_logger_v1">

        <!-- Add the following metadata tag for Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxscZbfRtB1wYSM_f6xsLALGr5150S_zA" />

        <!-- Add Google Maps activity -->
        <activity android:name=".MapsActivity" />



        <!-- Other activities -->
        <activity android:name=".StartupWizardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ConfirmationActivity" />

        <activity android:name=".LoggingActivity" />

        <activity android:name=".SavedTripsActivity" />

        <service
            android:name=".LocationLoggingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>


</manifest>